@CHARSET "UTF-8";

@import url("table-grids.css");

.datePickerField {
    background: url(images/calendar.png) no-repeat left center;
    width:125px;
    height:40px;
    border: 1px solid lightgrey;
    padding-left:25px;
}

.h40 {
    height:40px;
    vertical-align:middle;
}

.h140 {
    height:140px;
    vertical-align:middle;
}

.h100 {
    height:100px;
    vertical-align:middle;
}

.f12, .f12b {
    font-size: 12pt;
    font-family: Arial, Helvetica, Sans-Serif;
}

.f12b {
    font-weight:bold;
}

.ui-hover {
    border: 1px solid grey;
}

.ui-hover:hover,.ui-hover:active,.ui-hover:focus {
    background-color: lightgrey;
    font-weight:bold;
    border: 1px solid black;
    background-color: #ccc;
}

.w60 {
    width:60%;
}

.centerOnScreen60 {
    width:20%;
    height:180px;
    border:1px solid lightgrey;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.calign {
    text-align:center;
}
.lalign {
    text-align: left;
    padding-left: 5px;
}

.ralign {
    text-align: right;
    padding-right: 5px;
}